<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- Define the pattern for your logs -->
    <property name="LOG_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss} %5p %t %c{2}:%L - %m%n"/>
    <property name="LOG_DIR" value="logs"/>

    <!-- Console Appender with custom layout -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!-- File name pattern with date and index -->
            <fileNamePattern>${LOG_DIR}/security_log_%d{yyyy-MM-dd}.%i.log</fileNamePattern>

            <!-- Max file size before rolling -->
            <maxFileSize>1024KB</maxFileSize>

            <!-- Keep max 10 files per day -->
            <maxHistory>10</maxHistory>

            <!-- total size of all archive files, if total size > 20GB, it will delete old archived file -->
            <totalSizeCap>20GB</totalSizeCap>

            <!-- 60 days to keep -->
            <maxHistory>60</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <!-- Root logger level and appenders -->
    <root level="info">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
    </root>

</configuration>
